---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const books = await getCollection('books', ({ data }) => data.is_featured);
---

<Layout title="The Modern Library">
  <!-- Main Content -->
  <main class="container mx-auto px-6 py-16 md:py-24">
    <!-- Hero Section -->
    <section class="max-w-6xl mx-auto mb-24">
      <div class="text-pane text-center">
        <h1 class="text-4xl md:text-5xl lg:text-6xl !leading-tight">Timeless Stories, Retold for Today.</h1>
        <p class="mt-6 text-lg md:text-xl max-w-2xl mx-auto">We take the classics of world literature and breathe new life into them, adapting the language and context for a contemporary audience while preserving the original's soul.</p>
        <div class="mt-10">
          <a href="/books" class="cta-button">Explore the Collection</a>
        </div>
      </div>
    </section>
    <!-- Featured Books Section -->
    <section class="max-w-6xl mx-auto">
      <h2 class="text-pane text-3xl md:text-4xl text-center mb-12">Featured Modernizations </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {books.map((book) => (
          <a href={`/books/${book.slug}`}>
          <div class="book-card">
            <div class="book-cover" style="background-color: rgb(58, 58, 58, 0.75)">
              <div class="book-title">{book.data.title}</div>
              <div class="book-author">by {book.data.author}</div>
            </div>
            <div class="book-info">
              <p class="book-summary">{book.data.short_description}</p>
            </div>
          </div>
          </a>
        ))}
      </div>
    </section>
  </main>
</Layout>